{% extends 'base.html' %}
{% block css %}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title ">
                            <h2>
                                控制面板
                            </h2>
                            <div class="clearfix"></div>
                        </div>
                        <div align="center" >
                        <font color="blue" size="25">欢迎使用SOMS运维平台</font>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <font color="red" size="20">备份大于一切 稳定大于一切 保密大于一切</font>
                        <br />
                        <br />
                        <br />
                        <font color="red" size="20">执行前再三确认 忌多人同时操作 先看再备份后改</font>
                        <br />
                        <br />
                        <br />
                        <br />
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
{% endblock %}
