{% extends 'base.html' %}
{% block css %}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title ">
                            <h2>
                                关于
                                <small>About</small>
                            </h2>
                            <div class="clearfix"></div>
                        </div>


                        <div class="panel-group" id="panel-294567">

                                <div class="">
                                    <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-294567"
                                       href="#panel-element-host-manage">
                                        <div>免责声明</div>
                                    </a>
                                </div>
                                <div id="panel-element-host-manage" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        1.1 SOMS运维平台遵循GPL-3.0协议，用户具有自由的使用权。<br />
                                        1.2 如果用户下载、安装、使用SOMS运维平台，即表明用户信任该平台。那么，用户在使用时造成对用户自己或他人任何形式的损失和伤害，本人概不承担任何责任。
                                    </div>
                                </div>


                                <div class="">
                                    <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-294567"
                                       href="#panel-element-project-manage">
                                        <div>许可声明</div>
                                    </a>
                                </div>
                                <div id="panel-element-project-manage" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        2.1 免费下载、安装、使用SOMS运维平台，用户可以无限制的使用，但必须遵循GPL-3.0协议。
                                    </div>
                                </div>

                                <div class="">
                                    <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-294567"
                                       href="#panel-element-process-manage">
                                        <div>使用声明</div>
                                    </a>
                                </div>
                                <div id="panel-element-process-manage" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        3.1 SOMS运维平台不含有任何旨在破坏用户计算机数据和获取用户隐私信息的恶意代码；不含有任何跟踪、监视用户计算机功能的代码；不含有监控用户网上、网下行为的功能；不含有收集用户的其它软件、文档中包含的个人信息的功能；不会泄漏用户隐私。<br />
                                        3.2 用户不得利用SOMS运维平台误导、欺骗他人。
                                    </div>
                                </div>

                                <div class="">
                                    <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-294567"
                                       href="#panel-element-config-manage">
                                        <div>责任声明</div>
                                    </a>
                                </div>
                                <div id="panel-element-config-manage" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        4.1 SOMS运维平台经过多次测试，基本无任何大的问题，但不能保证不存在bug；如果使用过程中遇到什么问题可以及时反馈。<br />
                                        4.2 使用SOMS运维平台所产生的风险由用户自行承担。
                                    </div>
                                </div>

                                <div class="">
                                    <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-294567"
                                       href="#panel-element-job-create">
                                        <div>其他声明</div>
                                    </a>
                                </div>
                                <div id="panel-element-job-create" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        5.1 如果本协议中的任何条款无论因何种原因完全或部分无效或不具有执行力，或违反任何适用的法律条款，则该条款被视为删除，但本协议的其余条款仍有效并且具有约束力。<br />
                                        5.2 本人有权根据有关法律、法规的变化以及发展需求等因素修改本协议。若新旧协议有冲突，以最新版本协议为准。如果用户继续使用本系统，则视为您接受本协议的变动。
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
{% endblock %}